@import "../../../../vars";

.profile-view {
  &__links {
    margin-top: 50px;
  }

  &__link {
    border-bottom: 1px solid $light-color;
    padding: 10px 0;

    &_logout {
      border-bottom: none;
      color: $error-color;
      cursor: pointer;
    }
  }
}
