.profile-view {
  &__links {
    margin-top: 50px;
  }

  &__link {
    border-bottom: 1px solid #eaeaea;
    padding: 10px 0;

    &_logout {
      border-bottom: none;
      color: var(--error-color);
      cursor: pointer;
    }
  }
}
