@import "../../vars";

.chat-page {
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: stretch;

  &__link-button {
    display: block;
    text-align: center;
    margin-top: 15px;
    cursor: pointer;
  }

  &__aside {
    width: 310px;
    background: $bg-color-light;
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow-y: scroll;
    padding: 20px 10px;
    border-right: 1px solid $light-color;

    &::-webkit-scrollbar {
      width: 0;
    }

    .aside {
      &__header {
        display: flex;
        flex-direction: column;

        &-link {
          line-height: 12px;
          color: $gray-color;
          text-decoration: none;
          display: flex;
          align-items: center;
          align-self: flex-end;

          &::after {
            content: url("/public/icons/aside_link_after.svg");
            width: 6px;
            height: 11px;
            display: block;
            align-self: flex-end;
            margin-left: 7px;
          }
        }
      }
    }
  }

  &__content {
    flex-grow: 1;
    padding-left: 20px;
    padding-right: 20px;
    height: 100vh;

    .chat {
      &-header {
        display: flex;
        align-items: center;
        border-bottom: 1px solid $light-color;
        width: 100%;
        padding-right: 10px;
        min-height: 54px;

        &__avatar {
          width: 34px;
          height: 34px;
          background: $bg-color-dark;
          border-radius: 100%;
        }

        &__title {
          flex-grow: 1;
          font-weight: 600;
          font-size: 13px;
          line-height: 13px;
          margin-left: 10px;
        }

        &__menu {
          width: 25px;
          height: 25px;
          margin-right: -10px;
          background: no-repeat center url("/public/icons/menu.svg");
          cursor: pointer;
          border-radius: 100%;
          background-color: $light-color;
        }
      }
    }
  }
}

.chat-menu {
  &__popup {
    align-self: right;

    .popup__wrapper {
      background: none;
      align-items: flex-start;
      justify-content: flex-end;
    }

    .popup__container {
      margin-top: 65px;
      padding: 0 15px 15px;
    }
  }

  &__list {
    list-style: none;
    text-align: left;

    &-item {
      cursor: pointer;
      margin-top: 16px;
      display: flex;
      align-items: center;

      &::before {
        content: "";
        width: 22px;
        height: 22px;
        margin-right: 15px;
      }

      &_add-user {
        &::before {
          background-image: url("/public/icons/user_add.svg");
        }
      }

      &_delete-user {
        &::before {
          background: right/cover no-repeat url("/public/icons/user_delete.svg");
        }
      }

      &_delete-chat {
        &::before {
          background-image: url("/public/icons/chat_delete.svg");
        }
      }
    }
  }
}

.chat-stub-page {
  position: absolute;
  top: 0;
  right: 0;
  width: calc(100% - 310px);
  background: $lightest-color;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $gray-color;
}
