$lightest-color: #fff;
$primary-color: #29c188;
$secondary-color: #46c2f5;
$complementary-color: #ffde6c;
$gray-color: #999;
$light-color: #eaeaea;
$error-color: #ff2f2f;
$bg-color-light: #fbfbfb;
$bg-color-dark: #efefef;
$dark-color-75: #1e1e1e;
$darkest-color: #000;
$my-message-bg-color: #e4edfd;
$text-message-bg-color: #f8f8f8;
$primary-font-family: "Inter", sans-serif;
