.add-user {
  width: 300px;

  &__user-item {
    display: block;
    margin-top: 10px;
    border: 1px solid var(--light-color);
    border-radius: 10px;
    padding: 8px;
    text-decoration: none;

    &_selected {
      color: #fff;
      background-color: var(--light-color);
    }
  }

  &__form {
    &-content {
      margin-top: 30px;

      .input {
        font-size: 13px;
        line-height: 13px;
        margin-top: 45px;
      }
    }

    &-button {
      margin-top: 33px;
    }
  }
}
